In [1]:
import numpy as np
import pandas as pd

In [4]:
Mday = 1
length_from = 0
length_to = 1128

In [5]:
df = pd.read_csv(fr'..\naver_paths_matrix_{length_from}_{length_to}.csv')
df

C:\Users\user\AppData\Local\Temp\ipykernel_12752\495035865.py:1: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,542,543,544,545,546,547,548,549,550,551,552,553,554,555,556,557,558,559,560,561,562,563,564,565,566,567,568,569,570,571,572,573,574,575,576,577,578,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593,594,595,596,597,598,599,600,601,602,603,604,605,606,607,608,609,610,611,612,613,614,615,616,617,618,619,620,621,622,623,624,625,626,627,628,629,630,631,632,633,634,635,636,637,638,639,640,641,642,643,644,645,646,647,648,649,650,651,652,653,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,672,673,674,675,676,677,678,679,680,681,682,683,684,685,686,687,688,689,690,691,692,693,694,695,696,697,698,699,700,701,702,703,704,705,706,707,708,709,710,711,712,713,714,715,716,717,718,719,720,721,722,723,724,725,726,727,728,729,730,731,732,733,734,735,736,737,738,739,740,741,742,743,744,745,746,747,748,749,750,751,752,753,754,755,756,757,758,759,760,761,762,763,764,765,766,767,768,769,770,771,772,773,774,775,776,777,778,779,780,781,782,783,784,785,786,787,788,789,790,791,792,793,794,795,796,797,798,799,800,801,802,803,804,805,806,807,808,809,810,811,812,813,814,815,816,817,818,819,820,821,822,823,824,825,826,827,828,829,830,831,832,833,834,835,836,837,838,839,840,841,842,843,844,845,846,847,848,849,850,851,852,853,854,855,856,857,858,859,860,861,862,863,864,865,866,867,868,869,870,871,872,873,874,875,876,877,878,879,880,881,882,883,884,885,886,887,888,889,890,891,892,893,894,895,896,897,898,899,900,901,902,903,904,905,906,907,908,909,910,911,912,913,914,915,916,917,918,919,920,921,922,923,924,925,926,927,928,929,930,931,932,933,934,935,936,937,938,939,940,941,942,943,944,945,946,947,948,949,950,951,952,953,954,955,956,957,958,959,960,961,962,963,964,965,966,967,968,969,970,971,972,973,974,975,976,977,978,979,980,981,982,983,984,985,986,987,988,989,990,991,992,993,994,995,996,997,998,999,1000,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,1011,1012,1013,1014,1015,1016,1017,1018,1019,1020,1021,1022,1023,1024,1025,1026,1027,1028,1029,1030,1031,1032,1033,1034,1035,1036,1037,1038,1039,1040,1041,1042,1043,1044,1045,1046,1047,1048,1049,1050,1051,1052,1053,1054,1055,1056,1057,1058,1059,1060,1061,1062,1063,1064,1065,1066,1067,1068,1069,1070,1071,1072,1073,1074,1075,1076,1077,1078,1079,1080,1081,1082,1083,1084,1085,1086,1087,1088,1089,1090,1091,1092,1093,1094,1095,1096,1097,1098,1099,1100,1101,1102,1103,1104,1105,1106,1107,1108,1109,1110,1111,1112,1113,1114,1115,1116,1117,1118,1119,1120,1121,1122,1123,1124,1125,1127) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(fr'..\naver_paths_matrix_{length_from}_{length_to}.csv')

,0,1,2,3,4,5,6,7,8,9,...,1118,1119,1120,1121,1122,1123,1124,1125,1126,1127
0,"127.1683094,36.8371271","127.1257988,37.5209181","128.3930369,36.1450887","127.1467643,37.5573181","127.1257988,37.5209181","127.1683094,36.8371271","128.5879815,35.8822599","127.1308346,37.5200254","126.8787265,35.1366564","126.7518944,37.4585926",...,"126.7980671,37.5014567","128.5820368,35.848358","127.9349995,37.3719471","127.9349995,37.3719471","126.7018062,37.43162","128.5606804,35.8522764","127.0308006,37.2939269","128.5820368,35.848358",NaN,"127.9349995,37.3719471"
1,"127.1682824,36.8371396","127.1258004,37.5210614","128.3930678,36.1449703","127.1466963,37.5573332","127.1258004,37.5210614","127.1682824,36.8371396","128.5880467,35.8822467","127.1308244,37.5200244","126.8786911,35.1366914","126.7518937,37.4586638",...,"126.7979627,37.5013695","128.5829881,35.8482827","127.9351684,37.3716671","127.9351684,37.3716671","126.7023543,37.4316309","128.561509,35.8527118","127.0308181,37.2938305","128.5829881,35.8482827",NaN,"127.9351684,37.3716671"
2,"127.1682397,36.8371602","127.1258364,37.5213247","128.3930599,36.1448631","127.1467398,37.5577156","127.1258364,37.5213247","127.1682397,36.8371602","128.5891631,35.8819859","127.1306366,37.5200076","126.8786296,35.1366866","126.7518912,37.4587972",...,"126.7978715,37.5013212","128.5832307,35.8482932","127.9353096,37.3714746","127.9353096,37.3714746","126.7027042,37.4316685","128.5616272,35.8527756","127.0309126,37.293327","128.5832307,35.8482932",NaN,"127.9353096,37.3714746"
3,"127.1680845,36.8372571","127.1258563,37.5214266","128.3930249,36.1448129","127.1467247,37.5577813","127.1258563,37.5214266","127.1680845,36.8372571","128.5894172,35.881934","127.1305869,37.5199994","126.8781876,35.1365004","126.7518785,37.4588305",...,"126.7978129,37.5013046","128.5831933,35.8483945","127.9353623,37.3714131","127.9353623,37.3714131","126.7028883,37.4316877","128.5615727,35.852841","127.0309179,37.2931972","128.5831933,35.8483945",NaN,"127.9353623,37.3714131"
4,"127.1679013,36.8373675","127.1258739,37.5215249","128.3926949,36.1447333","127.1462286,37.5578375","127.1258739,37.5215249","127.1679013,36.8373675","128.5896702,35.8818831","127.1305621,37.5199831","126.8779007,35.1369822","126.7518433,37.4588465",...,"126.7977291,37.5013041","128.5831678,35.8485489","127.9355248,37.3713746","127.9355248,37.3713746","126.7029515,37.4316963","128.5613632,35.8530728","127.0309768,37.2928009","128.5831678,35.8485489",NaN,"127.9355248,37.3713746"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5148,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5149,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5151,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5152,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
# 버스 대수만큼 column 복제해야 함
df_map = pd.read_csv(r'df_map.csv')

expanded_cols = []
df_map['idx'] = df_map['idx'].astype(str)

for col in df.columns:
    repeat_n = df_map.loc[df_map['idx'] == col, 'num_bus'].values[0]

    for i in range(repeat_n):
        expanded_cols.append(df[col].rename(f'{col}_{i+1}'))

df_temp = pd.concat(expanded_cols, axis = 1)

In [44]:
# 경로 이어주기
cols = df_temp.columns
df_new = pd.DataFrame()

for col in cols:
    s = df_temp[col].astype('string')
    left = s.iloc[:-1].reset_index(drop=True)
    right = s.iloc[1:].reset_index(drop=True)
    df_new[col] = left + "/" + right

print(df_new)

                                                0_1  \
0     127.1683094,36.8371271/127.1682824,36.8371396
1     127.1682824,36.8371396/127.1682397,36.8371602
2     127.1682397,36.8371602/127.1680845,36.8372571
3     127.1680845,36.8372571/127.1679013,36.8373675
4        127.1679013,36.8373675/127.16778,36.837405
...                                             ...
5147                                           <NA>
5148                                           <NA>
5149                                           <NA>
5150                                           <NA>
5151                                           <NA>

                                                0_2  \
0     127.1683094,36.8371271/127.1682824,36.8371396
1     127.1682824,36.8371396/127.1682397,36.8371602
2     127.1682397,36.8371602/127.1680845,36.8372571
3     127.1680845,36.8372571/127.1679013,36.8373675
4        127.1679013,36.8373675/127.16778,36.837405
...                                             ...
5147                                           <NA>
5148                                           <NA>
5149                                           <NA>
5150                                           <NA>
5151                                           <NA>

                                                0_3  \
0     127.1683094,36.8371271/127.1682824,36.8371396
1     127.1682824,36.8371396/127.1682397,36.8371602
2     127.1682397,36.8371602/127.1680845,36.8372571
3     127.1680845,36.8372571/127.1679013,36.8373675
4        127.1679013,36.8373675/127.16778,36.837405
...                                             ...
5147                                           <NA>
5148                                           <NA>
5149                                           <NA>
5150                                           <NA>
5151                                           <NA>

                                                0_4  \
0     127.1683094,36.8371271/127.1682824,36.8371396
1     127.1682824,36.8371396/127.1682397,36.8371602
2     127.1682397,36.8371602/127.1680845,36.8372571
3     127.1680845,36.8372571/127.1679013,36.8373675
4        127.1679013,36.8373675/127.16778,36.837405
...                                             ...
5147                                           <NA>
5148                                           <NA>
5149                                           <NA>
5150                                           <NA>
5151                                           <NA>

                                                0_5  \
0     127.1683094,36.8371271/127.1682824,36.8371396
1     127.1682824,36.8371396/127.1682397,36.8371602
2     127.1682397,36.8371602/127.1680845,36.8372571
3     127.1680845,36.8372571/127.1679013,36.8373675
4        127.1679013,36.8373675/127.16778,36.837405
...                                             ...
5147                                           <NA>
5148                                           <NA>
5149                                           <NA>
5150                                           <NA>
5151                                           <NA>

                                                0_6  \
0     127.1683094,36.8371271/127.1682824,36.8371396
1     127.1682824,36.8371396/127.1682397,36.8371602
2     127.1682397,36.8371602/127.1680845,36.8372571
3     127.1680845,36.8372571/127.1679013,36.8373675
4        127.1679013,36.8373675/127.16778,36.837405
...                                             ...
5147                                           <NA>
5148                                           <NA>
5149                                           <NA>
5150                                           <NA>
5151                                           <NA>

                                                0_7  \
0     127.1683094,36.8371271/127.1682824,36.8371396
1     127.1682824,36.8371396/127.1682397,36.8371602
2     127.1682397,36.8371602/127.1680845,36.8372571
3     127.1680845,36.8372571/127.1679013,36.8373675
4        127.1679013,36.8373675/127.16778,36.837405
...                                             ...
5147                                           <NA>
5148                                           <NA>
5149                                           <NA>
5150                                           <NA>
5151                                           <NA>

                                                0_8  \
0     127.1683094,36.8371271/127.1682824,36.8371396
1     127.1682824,36.8371396/127.1682397,36.8371602
2     127.1682397,36.8371602/127.1680845,36.8372571
3     127.1680845,36.8372571/127.1679013,36.8373675
4        127.1679013,36.8373675/127.16778,36.837405
...                                             ...
5147                                           <NA>
5148                                           <NA>
5149                                           <NA>
5150                                           <NA>
5151                                           <NA>

                                                0_9  \
0     127.1683094,36.8371271/127.1682824,36.8371396
1     127.1682824,36.8371396/127.1682397,36.8371602
2     127.1682397,36.8371602/127.1680845,36.8372571
3     127.1680845,36.8372571/127.1679013,36.8373675
4        127.1679013,36.8373675/127.16778,36.837405
...                                             ...
5147                                           <NA>
5148                                           <NA>
5149                                           <NA>
5150                                           <NA>
5151                                           <NA>

                                               0_10  ...  \
0     127.1683094,36.8371271/127.1682824,36.8371396  ...
1     127.1682824,36.8371396/127.1682397,36.8371602  ...
2     127.1682397,36.8371602/127.1680845,36.8372571  ...
3     127.1680845,36.8372571/127.1679013,36.8373675  ...
4        127.1679013,36.8373675/127.16778,36.837405  ...
...                                             ...  ...
5147                                           <NA>  ...
5148                                           <NA>  ...
5149                                           <NA>  ...
5150                                           <NA>  ...
5151                                           <NA>  ...

                                             1118_1  \
0     126.7980671,37.5014567/126.7979627,37.5013695
1     126.7979627,37.5013695/126.7978715,37.5013212
2     126.7978715,37.5013212/126.7978129,37.5013046
3     126.7978129,37.5013046/126.7977291,37.5013041
4      126.7977291,37.5013041/126.797625,37.5013053
...                                             ...
5147                                           <NA>
5148                                           <NA>
5149                                           <NA>
5150                                           <NA>
5151                                           <NA>

                                             1119_1  \
0      128.5820368,35.848358/128.5829881,35.8482827
1     128.5829881,35.8482827/128.5832307,35.8482932
2     128.5832307,35.8482932/128.5831933,35.8483945
3     128.5831933,35.8483945/128.5831678,35.8485489
4     128.5831678,35.8485489/128.5831411,35.8487042
...                                             ...
5147                                           <NA>
5148                                           <NA>
5149                                           <NA>
5150                                           <NA>
5151                                           <NA>

                                             1120_1  \
0     127.9349995,37.3719471/127.9351684,37.3716671
1     127.9351684,37.3716671/127.9353096,37.3714746
2     127.9353096,37.3714746/127.9353623,37.3714131
3     127.9353623,37.3714131/127.9355248,37.3713746
4      127.9355248,37.3713746/127.935636,37.3712751
...                                             ...
5147                                           <NA>
5148                                           <NA>
5149                                           <NA>
5150                                           <NA>
5151                                           <NA>

                                             1121_1  \
0     127.9349995,37.3719471/127.9351684,37.3716671
1     127.9351684,37.3716671/127.9353096,37.3714746
2     127.9353096,37.3714746/127.9353623,37.3714131
3     127.9353623,37.3714131/127.9355248,37.3713746
4      127.9355248,37.3713746/127.935636,37.3712751
...                                             ...
5147                                           <NA>
5148                                           <NA>
5149                                           <NA>
5150                                           <NA>
5151                                           <NA>

                                             1122_1  \
0       126.7018062,37.43162/126.7023543,37.4316309
1     126.7023543,37.4316309/126.7027042,37.4316685
2     126.7027042,37.4316685/126.7028883,37.4316877
3     126.7028883,37.4316877/126.7029515,37.4316963
4     126.7029515,37.4316963/126.7034052,37.4317597
...                                             ...
5147                                           <NA>
5148                                           <NA>
5149                                           <NA>
5150                                           <NA>
5151                                           <NA>

                                             1123_1  \
0      128.5606804,35.8522764/128.561509,35.8527118
1      128.561509,35.8527118/128.5616272,35.8527756
2      128.5616272,35.8527756/128.5615727,35.852841
3      128.5615727,35.852841/128.5613632,35.8530728
4     128.5613632,35.8530728/128.5612902,35.8531609
...                                             ...
5147                                           <NA>
5148                                           <NA>
5149                                           <NA>
5150                                           <NA>
5151                                           <NA>

                                             1124_1  \
0     127.0308006,37.2939269/127.0308181,37.2938305
1      127.0308181,37.2938305/127.0309126,37.293327
2      127.0309126,37.293327/127.0309179,37.2931972
3     127.0309179,37.2931972/127.0309768,37.2928009
4     127.0309768,37.2928009/127.0309873,37.2927495
...                                             ...
5147                                           <NA>
5148                                           <NA>
5149                                           <NA>
5150                                           <NA>
5151                                           <NA>

                                             1125_1 1126_1  \
0      128.5820368,35.848358/128.5829881,35.8482827   <NA>
1     128.5829881,35.8482827/128.5832307,35.8482932   <NA>
2     128.5832307,35.8482932/128.5831933,35.8483945   <NA>
3     128.5831933,35.8483945/128.5831678,35.8485489   <NA>
4     128.5831678,35.8485489/128.5831411,35.8487042   <NA>
...                                             ...    ...
5147                                           <NA>   <NA>
5148                                           <NA>   <NA>
5149                                           <NA>   <NA>
5150                                           <NA>   <NA>
5151                                           <NA>   <NA>

                                             1127_1
0     127.9349995,37.3719471/127.9351684,37.3716671
1     127.9351684,37.3716671/127.9353096,37.3714746
2     127.9353096,37.3714746/127.9353623,37.3714131
3     127.9353623,37.3714131/127.9355248,37.3713746
4      127.9355248,37.3713746/127.935636,37.3712751
...                                             ...
5147                                           <NA>
5148                                           <NA>
5149                                           <NA>
5150                                           <NA>
5151                                           <NA>

[5152 rows x 17478 columns]

In [46]:
results = pd.DataFrame(columns = ['path'])

for col in cols:
    temp = pd.DataFrame({'path': list(set(df_new[col]))})
    results = pd.concat([results, temp], axis = 0, ignore_index = True)
results

                                                   path
0         127.1591239,36.9837845/127.1591115,36.9837998
1           128.175157,38.0687864/128.1750623,38.068906
2             127.133982,37.0709864/127.133756,37.07144
3         127.1166615,37.4095745/127.1175495,37.4102741
4         127.9162968,37.7489018/127.9175207,37.7485469
...                                                 ...
27990273  128.1345797,37.7883967/128.1356543,37.7884234
27990274   127.9695145,37.600056/127.9667808,37.6036659
27990275   127.8152795,37.7567991/127.8160788,37.756806
27990276  128.5599745,38.2047825/128.5603382,38.2046638
27990277                                           <NA>

[27990278 rows x 1 columns]

In [47]:
df_count = pd.DataFrame(results['path'].value_counts(ascending = False)).reset_index()

df_count['start_path'] = df_count['path'].str.split('/', expand = True)[0]
df_count['end_path'] = df_count['path'].str.split('/', expand = True)[1]
df_count['start_path_lat'] = df_count['start_path'].str.split(',', expand = True)[1]
df_count['start_path_lng'] = df_count['start_path'].str.split(',', expand = True)[0]
df_count['end_path_lat'] = df_count['end_path'].str.split(',', expand = True)[1]
df_count['end_path_lng'] = df_count['end_path'].str.split(',', expand = True)[0]
df_count.shape

(220771, 8)

In [48]:
# 저장
df_count.to_csv(f'df_result_{length_from}_{length_to}.csv', index = True, index_label = 'index')

# 나중에 통합 저장할때

In [22]:
# df_count = pd.DataFrame(results['path'].value_counts(ascending = False)).reset_index()

# max_count = df_count['count'].max()
# df_count = df_count[df_count['count'] >= max_count -4]

# df_count['start_path'] = df_count['path'].str.split('/', expand = True)[0]
# df_count['end_path'] = df_count['path'].str.split('/', expand = True)[1]
# df_count['start_path_lat'] = df_count['start_path'].str.split(',', expand = True)[1]
# df_count['start_path_lng'] = df_count['start_path'].str.split(',', expand = True)[0]
# df_count['end_path_lat'] = df_count['end_path'].str.split(',', expand = True)[1]
# df_count['end_path_lng'] = df_count['end_path'].str.split(',', expand = True)[0]
# df_count

In [23]:
# # QGIS input type에 맞게 변환
# df_count['geometry'] = 'LINESTRING (' + df_count['start_path_lng'] + ' ' + df_count['start_path_lat'] + ', ' + df_count['end_path_lng'] + ' ' + df_count['end_path_lat'] + ')'
# df_count['geometry'][0]

In [24]:
# # 컬럼 정리
# df_result = df_count.drop(columns = ['path', 'start_path', 'end_path', 'start_path_lat', 'start_path_lng', 'end_path_lat', 'end_path_lng'])
# df_result.head()

In [25]:
# # 저장
# df_result.to_csv(f'df_result_mday{Mday}_{length_from}_{length_to}.csv', index = True, index_label = 'index')