In [290]:
import numpy as np
import pandas as pd

In [291]:
Mday = 30
# length_from = 0
# length_to = 1128

In [292]:
df = pd.read_csv(fr'..\naver_paths_matrix_{Mday}.csv')
df

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,"127.1524787,35.8259802","127.2025978,37.2948042","127.1570592,35.8539236","128.1618481,35.1574188","128.4842003,35.8559052","128.5820368,35.848358","127.1659575,37.250629","128.1618481,35.1574188","127.1487315,35.8379437","127.0133776,37.5059758",...,"128.3442375,36.1198162","128.7279772,36.5603377","128.6635186,35.2337774","128.7279772,36.5603377","128.6635186,35.2337774","128.6635186,35.2337774","128.1618481,35.1574188","128.6635186,35.2337774","128.6635186,35.2337774","129.3648165,36.0089169"
1,"127.152472,35.8259874","127.2026521,37.2953388","127.1571875,35.8539663","128.1618266,35.1574667","128.4841995,35.8553976","128.5829881,35.8482827","127.1660675,37.2507456","128.1618266,35.1574667","127.1482685,35.8379982","127.0136273,37.5053189",...,"128.3440997,36.1198163","128.7269844,36.560164","128.6634978,35.2338579","128.7282819,36.5603904","128.6634978,35.2338579","128.6634978,35.2338579","128.1618266,35.1574667","128.6634978,35.2338579","128.6634978,35.2338579","129.3648366,36.0088742"
2,"127.152462,35.8259973","127.2027488,37.2954139","127.1575999,35.8541081","128.1617873,35.1574994","128.4842222,35.8552576","128.5832307,35.8482932","127.1666183,37.2506074","128.1617873,35.1574994","127.1481555,35.8379961","127.0136526,37.5052586",...,"128.3439118,36.1198077","128.7267693,36.5601284","128.6634766,35.2339888","128.7283346,36.5603998","128.6634766,35.2339888","128.6634766,35.2339888","128.1617873,35.1574994","128.6634766,35.2339888","128.6634766,35.2339888","129.3651248,36.0089581"
3,"127.1524609,35.8259991","127.2027533,37.2954373","127.1577692,35.8541627","128.1617414,35.157524","128.4842579,35.8551906","128.5834343,35.8477125","127.1666332,37.2505561","128.1617414,35.157524","127.1481989,35.8374408","127.0135156,37.5052797",...,"128.3438493,36.1197829","128.7266494,36.5601062","128.6633667,35.2339926","128.7287915,36.5604618","128.6633667,35.2339926","128.6633667,35.2339926","128.1617414,35.157524","128.6633667,35.2339926","128.6633667,35.2339926","129.3650633,36.0091231"
4,"127.1524508,35.8260117","127.2027931,37.2956249","127.157924,35.8542155","128.1617431,35.1576024","128.4843244,35.8551081","128.583499,35.847583","127.1667079,37.2505022","128.1617431,35.1576024","127.1485084,35.8355637","127.0130774,37.5053373",...,"128.3438244,36.1197416","128.726516,36.5600823","128.6633129,35.233994","128.7288508,36.5604702","128.6633129,35.233994","128.6633129,35.233994","128.1617431,35.1576024","128.6633129,35.233994","128.6633129,35.233994","129.3650393,36.0091875"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3109,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"129.1281112,37.503819",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3110,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"129.1282747,37.5038997",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3111,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"129.1288993,37.5042165",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"129.1294151,37.5044734",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3113,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"129.1295912,37.5045611",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [293]:
# 버스 대수만큼 column 복제해야 함
df_map = pd.read_csv(fr'df_map_{Mday}.csv')

expanded_cols = []
df_map['idx'] = df_map['idx'].astype(str)

for col in df.columns:
    repeat_n = df_map.loc[df_map['idx'] == col, 'num_bus'].values[0]

    for i in range(repeat_n):
        expanded_cols.append(df[col].rename(f'{col}_{i+1}'))

df_temp = pd.concat(expanded_cols, axis = 1)

In [294]:
# 경로 이어주기
cols = df_temp.columns
df_new = pd.DataFrame()

for col in cols:
    s = df_temp[col].astype('string')
    left = s.iloc[:-1].reset_index(drop=True)
    right = s.iloc[1:].reset_index(drop=True)
    df_new[col] = left + "/" + right

print(df_new)

                                                0_1  \
0      127.1524787,35.8259802/127.152472,35.8259874
1       127.152472,35.8259874/127.152462,35.8259973
2      127.152462,35.8259973/127.1524609,35.8259991
3     127.1524609,35.8259991/127.1524508,35.8260117
4     127.1524508,35.8260117/127.1524486,35.8260297
...                                             ...
3108                                           <NA>
3109                                           <NA>
3110                                           <NA>
3111                                           <NA>
3112                                           <NA>

                                                0_2  \
0      127.1524787,35.8259802/127.152472,35.8259874
1       127.152472,35.8259874/127.152462,35.8259973
2      127.152462,35.8259973/127.1524609,35.8259991
3     127.1524609,35.8259991/127.1524508,35.8260117
4     127.1524508,35.8260117/127.1524486,35.8260297
...                                             ...
3108                                           <NA>
3109                                           <NA>
3110                                           <NA>
3111                                           <NA>
3112                                           <NA>

                                                0_3  \
0      127.1524787,35.8259802/127.152472,35.8259874
1       127.152472,35.8259874/127.152462,35.8259973
2      127.152462,35.8259973/127.1524609,35.8259991
3     127.1524609,35.8259991/127.1524508,35.8260117
4     127.1524508,35.8260117/127.1524486,35.8260297
...                                             ...
3108                                           <NA>
3109                                           <NA>
3110                                           <NA>
3111                                           <NA>
3112                                           <NA>

                                                0_4  \
0      127.1524787,35.8259802/127.152472,35.8259874
1       127.152472,35.8259874/127.152462,35.8259973
2      127.152462,35.8259973/127.1524609,35.8259991
3     127.1524609,35.8259991/127.1524508,35.8260117
4     127.1524508,35.8260117/127.1524486,35.8260297
...                                             ...
3108                                           <NA>
3109                                           <NA>
3110                                           <NA>
3111                                           <NA>
3112                                           <NA>

                                                0_5  \
0      127.1524787,35.8259802/127.152472,35.8259874
1       127.152472,35.8259874/127.152462,35.8259973
2      127.152462,35.8259973/127.1524609,35.8259991
3     127.1524609,35.8259991/127.1524508,35.8260117
4     127.1524508,35.8260117/127.1524486,35.8260297
...                                             ...
3108                                           <NA>
3109                                           <NA>
3110                                           <NA>
3111                                           <NA>
3112                                           <NA>

                                                0_6  \
0      127.1524787,35.8259802/127.152472,35.8259874
1       127.152472,35.8259874/127.152462,35.8259973
2      127.152462,35.8259973/127.1524609,35.8259991
3     127.1524609,35.8259991/127.1524508,35.8260117
4     127.1524508,35.8260117/127.1524486,35.8260297
...                                             ...
3108                                           <NA>
3109                                           <NA>
3110                                           <NA>
3111                                           <NA>
3112                                           <NA>

                                                0_7  \
0      127.1524787,35.8259802/127.152472,35.8259874
1       127.152472,35.8259874/127.152462,35.8259973
2      127.152462,35.8259973/127.1524609,35.8259991
3     127.1524609,35.8259991/127.1524508,35.8260117
4     127.1524508,35.8260117/127.1524486,35.8260297
...                                             ...
3108                                           <NA>
3109                                           <NA>
3110                                           <NA>
3111                                           <NA>
3112                                           <NA>

                                                0_8  \
0      127.1524787,35.8259802/127.152472,35.8259874
1       127.152472,35.8259874/127.152462,35.8259973
2      127.152462,35.8259973/127.1524609,35.8259991
3     127.1524609,35.8259991/127.1524508,35.8260117
4     127.1524508,35.8260117/127.1524486,35.8260297
...                                             ...
3108                                           <NA>
3109                                           <NA>
3110                                           <NA>
3111                                           <NA>
3112                                           <NA>

                                                0_9  \
0      127.1524787,35.8259802/127.152472,35.8259874
1       127.152472,35.8259874/127.152462,35.8259973
2      127.152462,35.8259973/127.1524609,35.8259991
3     127.1524609,35.8259991/127.1524508,35.8260117
4     127.1524508,35.8260117/127.1524486,35.8260297
...                                             ...
3108                                           <NA>
3109                                           <NA>
3110                                           <NA>
3111                                           <NA>
3112                                           <NA>

                                               0_10  ...  \
0      127.1524787,35.8259802/127.152472,35.8259874  ...
1       127.152472,35.8259874/127.152462,35.8259973  ...
2      127.152462,35.8259973/127.1524609,35.8259991  ...
3     127.1524609,35.8259991/127.1524508,35.8260117  ...
4     127.1524508,35.8260117/127.1524486,35.8260297  ...
...                                             ...  ...
3108                                           <NA>  ...
3109                                           <NA>  ...
3110                                           <NA>  ...
3111                                           <NA>  ...
3112                                           <NA>  ...

                                               21_1  \
0     128.6635186,35.2337774/128.6634978,35.2338579
1     128.6634978,35.2338579/128.6634766,35.2339888
2     128.6634766,35.2339888/128.6633667,35.2339926
3      128.6633667,35.2339926/128.6633129,35.233994
4      128.6633129,35.233994/128.6632121,35.2340166
...                                             ...
3108                                           <NA>
3109                                           <NA>
3110                                           <NA>
3111                                           <NA>
3112                                           <NA>

                                               21_2  \
0     128.6635186,35.2337774/128.6634978,35.2338579
1     128.6634978,35.2338579/128.6634766,35.2339888
2     128.6634766,35.2339888/128.6633667,35.2339926
3      128.6633667,35.2339926/128.6633129,35.233994
4      128.6633129,35.233994/128.6632121,35.2340166
...                                             ...
3108                                           <NA>
3109                                           <NA>
3110                                           <NA>
3111                                           <NA>
3112                                           <NA>

                                               21_3  \
0     128.6635186,35.2337774/128.6634978,35.2338579
1     128.6634978,35.2338579/128.6634766,35.2339888
2     128.6634766,35.2339888/128.6633667,35.2339926
3      128.6633667,35.2339926/128.6633129,35.233994
4      128.6633129,35.233994/128.6632121,35.2340166
...                                             ...
3108                                           <NA>
3109                                           <NA>
3110                                           <NA>
3111                                           <NA>
3112                                           <NA>

                                               22_1  \
0     128.1618481,35.1574188/128.1618266,35.1574667
1     128.1618266,35.1574667/128.1617873,35.1574994
2      128.1617873,35.1574994/128.1617414,35.157524
3      128.1617414,35.157524/128.1617431,35.1576024
4      128.1617431,35.1576024/128.161799,35.1581332
...                                             ...
3108                                           <NA>
3109                                           <NA>
3110                                           <NA>
3111                                           <NA>
3112                                           <NA>

                                               22_2  \
0     128.1618481,35.1574188/128.1618266,35.1574667
1     128.1618266,35.1574667/128.1617873,35.1574994
2      128.1617873,35.1574994/128.1617414,35.157524
3      128.1617414,35.157524/128.1617431,35.1576024
4      128.1617431,35.1576024/128.161799,35.1581332
...                                             ...
3108                                           <NA>
3109                                           <NA>
3110                                           <NA>
3111                                           <NA>
3112                                           <NA>

                                               23_1  \
0     128.6635186,35.2337774/128.6634978,35.2338579
1     128.6634978,35.2338579/128.6634766,35.2339888
2     128.6634766,35.2339888/128.6633667,35.2339926
3      128.6633667,35.2339926/128.6633129,35.233994
4      128.6633129,35.233994/128.6632121,35.2340166
...                                             ...
3108                                           <NA>
3109                                           <NA>
3110                                           <NA>
3111                                           <NA>
3112                                           <NA>

                                               23_2  \
0     128.6635186,35.2337774/128.6634978,35.2338579
1     128.6634978,35.2338579/128.6634766,35.2339888
2     128.6634766,35.2339888/128.6633667,35.2339926
3      128.6633667,35.2339926/128.6633129,35.233994
4      128.6633129,35.233994/128.6632121,35.2340166
...                                             ...
3108                                           <NA>
3109                                           <NA>
3110                                           <NA>
3111                                           <NA>
3112                                           <NA>

                                               24_1  \
0     128.6635186,35.2337774/128.6634978,35.2338579
1     128.6634978,35.2338579/128.6634766,35.2339888
2     128.6634766,35.2339888/128.6633667,35.2339926
3      128.6633667,35.2339926/128.6633129,35.233994
4      128.6633129,35.233994/128.6632121,35.2340166
...                                             ...
3108                                           <NA>
3109                                           <NA>
3110                                           <NA>
3111                                           <NA>
3112                                           <NA>

                                               24_2  \
0     128.6635186,35.2337774/128.6634978,35.2338579
1     128.6634978,35.2338579/128.6634766,35.2339888
2     128.6634766,35.2339888/128.6633667,35.2339926
3      128.6633667,35.2339926/128.6633129,35.233994
4      128.6633129,35.233994/128.6632121,35.2340166
...                                             ...
3108                                           <NA>
3109                                           <NA>
3110                                           <NA>
3111                                           <NA>
3112                                           <NA>

                                               25_1
0     129.3648165,36.0089169/129.3648366,36.0088742
1     129.3648366,36.0088742/129.3651248,36.0089581
2     129.3651248,36.0089581/129.3650633,36.0091231
3     129.3650633,36.0091231/129.3650393,36.0091875
4      129.3650393,36.0091875/129.3649402,36.009455
...                                             ...
3108                                           <NA>
3109                                           <NA>
3110                                           <NA>
3111                                           <NA>
3112                                           <NA>

[3113 rows x 343 columns]

In [295]:
results = pd.DataFrame(columns = ['path'])

for col in cols:
    temp = pd.DataFrame({'path': list(set(df_new[col]))})
    results = pd.concat([results, temp], axis = 0, ignore_index = True)
results

                                                 path
0        127.2890117,35.6157911/127.2888518,35.615697
1        127.222451,35.7476804/127.2229798,35.7470207
2        127.1540991,35.829137/127.1540829,35.8292947
3       127.3120433,35.6332112/127.3131529,35.6324068
4       127.2609856,35.6959598/127.2613544,35.6953384
...                                               ...
356780  129.3403955,36.1740679/129.3402496,36.1748661
356781                                           <NA>
356782     129.37013,36.2450668/129.370134,36.2450938
356783  129.3417136,36.0905102/129.3418376,36.0910176
356784    129.341449,36.1658749/129.3410684,36.166619

[356785 rows x 1 columns]

In [296]:
df_count = pd.DataFrame(results['path'].value_counts(ascending = False)).reset_index()

df_count['start_path'] = df_count['path'].str.split('/', expand = True)[0]
df_count['end_path'] = df_count['path'].str.split('/', expand = True)[1]
df_count['start_path_lat'] = df_count['start_path'].str.split(',', expand = True)[1]
df_count['start_path_lng'] = df_count['start_path'].str.split(',', expand = True)[0]
df_count['end_path_lat'] = df_count['end_path'].str.split(',', expand = True)[1]
df_count['end_path_lng'] = df_count['end_path'].str.split(',', expand = True)[0]
df_count.shape

(15426, 8)

In [297]:
# 저장
df_count.to_csv(f'df_result_{Mday}.csv', index = True, index_label = 'index')

# 나중에 통합 저장할때

In [298]:
# df_count = pd.DataFrame(results['path'].value_counts(ascending = False)).reset_index()

# max_count = df_count['count'].max()
# df_count = df_count[df_count['count'] >= max_count -4]

# df_count['start_path'] = df_count['path'].str.split('/', expand = True)[0]
# df_count['end_path'] = df_count['path'].str.split('/', expand = True)[1]
# df_count['start_path_lat'] = df_count['start_path'].str.split(',', expand = True)[1]
# df_count['start_path_lng'] = df_count['start_path'].str.split(',', expand = True)[0]
# df_count['end_path_lat'] = df_count['end_path'].str.split(',', expand = True)[1]
# df_count['end_path_lng'] = df_count['end_path'].str.split(',', expand = True)[0]
# df_count

In [299]:
# QGIS input type에 맞게 변환
df_count['geometry'] = 'LINESTRING (' + df_count['start_path_lng'] + ' ' + df_count['start_path_lat'] + ', ' + df_count['end_path_lng'] + ' ' + df_count['end_path_lat'] + ')'
df_count['geometry'][0]

'LINESTRING (127.2591254 35.6992651, 127.2604135 35.6969252)'

In [300]:
# 컬럼 정리
df_result = df_count.drop(columns = ['path', 'start_path', 'end_path', 'start_path_lat', 'start_path_lng', 'end_path_lat', 'end_path_lng'])
df_result.head()

   count                                           geometry
0     88  LINESTRING (127.2591254 35.6992651, 127.260413...
1     88  LINESTRING (127.2609856 35.6959598, 127.261354...
2     88  LINESTRING (127.2462464 35.7106046, 127.247750...
3     88  LINESTRING (127.1912158 35.8160979, 127.191223...
4     88  LINESTRING (127.2890117 35.6157911, 127.288851...

In [301]:
# 저장
df_result.to_csv(f'df_QGIS_{Mday}.csv', index = True, index_label = 'index')