In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.cm as cm
from matplotlib.ticker import PercentFormatter
from matplotlib.colors import Normalize

import re

import folium
from folium import plugins

In [2]:
# 폰트 설정
import matplotlib as mpl
import matplotlib.font_manager as fm

font_path = r"C:\Windows\Fonts\malgun.ttf"  
font_prop = fm.FontProperties(fname=font_path)
mpl.rcParams['font.family'] = font_prop.get_name()
mpl.rcParams['axes.unicode_minus'] = False

In [3]:
# data load
df = pd.read_csv(r'C:\\Users\\user\\Desktop\\연구\\5. 국방부 용역과제\\250730.csv')
# df = pd.read_csv(r'C:\\Yoonsuk_PC\\DataScience\\3. 연구\\5. 국방부 용역과제\\250730.csv')
df_geo = pd.read_csv(r'..\\datasets\\df_geo_new.csv') # 위경도 좌표

print(df.head())
print(df_geo.head())

   순번                   출발지 주소              중간집결지 주소            최종 도착지 주소  \
0   1  경기도 고양시 덕양구 중앙로633번길 12   경기도 고양시 덕양구 혜음로 142  경기도 고양시 덕양구 혜음로 142
1   2   대구광역시 서구 북비산로61길 20-24      경상북도 경주시 태종로 516  경기도 고양시 덕양구 동헌로 305
2   3   서울특별시 양천구 목동중앙본로11길 19  서울특별시 서초구 사평대로45길 26  강원특별자치도 동해시 대동로 430
3   4        서울특별시 강남구 학동로 432       경기도 과천시 중앙로 294      경기도 과천시 중앙로 294
4   5         대구광역시 남구 명덕로 236      대구광역시 수성구 무열로 56     대구광역시 수성구 무열로 56

    중간집결 기한    최종도착 기한 이동방법
0  0+1일 14시   0+1일 14시   개별
1  0+28일 9시  0+28일 14시   집단
2   0+3일 8시   0+3일 14시   집단
3  0+1일 14시   0+1일 14시   개별
4  0+3일 14시   0+3일 14시   개별
   num  start_lat   start_lng    mid_lat     mid_lng    end_lat     end_lng
0    1  37.626949  126.827581  37.713020  126.902443  37.713020  126.902443
1    2  35.881731  128.567540  35.839566  129.185196  37.713651  126.889915
2    3  37.540484  126.867756  37.506451  127.012692  37.503393  129.130509
3    4  37.517981  127.048764  37.441493  126.996973  37.441493  126.996973
4    5  35.854689  128.595157  35.863198  128.651230  35.863198  128.651230

In [4]:
# Merge
df_merge = pd.merge(df, df_geo, left_on = '순번', right_on = 'num', how = 'left').drop(columns = ['num'])

print(df_merge.head(3))
print(df_merge.tail(3))

   순번                   출발지 주소              중간집결지 주소            최종 도착지 주소  \
0   1  경기도 고양시 덕양구 중앙로633번길 12   경기도 고양시 덕양구 혜음로 142  경기도 고양시 덕양구 혜음로 142
1   2   대구광역시 서구 북비산로61길 20-24      경상북도 경주시 태종로 516  경기도 고양시 덕양구 동헌로 305
2   3   서울특별시 양천구 목동중앙본로11길 19  서울특별시 서초구 사평대로45길 26  강원특별자치도 동해시 대동로 430

    중간집결 기한    최종도착 기한 이동방법  start_lat   start_lng    mid_lat     mid_lng  \
0  0+1일 14시   0+1일 14시   개별  37.626949  126.827581  37.713020  126.902443
1  0+28일 9시  0+28일 14시   집단  35.881731  128.567540  35.839566  129.185196
2   0+3일 8시   0+3일 14시   집단  37.540484  126.867756  37.506451  127.012692

     end_lat     end_lng
0  37.713020  126.902443
1  37.713651  126.889915
2  37.503393  129.130509
            순번                    출발지 주소               중간집결지 주소  \
815772  815773      광주광역시 광산구 장신로19번길 10       광주광역시 북구 우치로 339
815773  815774        서울특별시 동작구 사당로8길 55  서울특별시 강동구 양재대로156길 11
815774  815775  경기도 성남시 중원구 자혜로17번길 42-3     강원특별자치도 원주시 연세대길 1

                      최종 도착지 주소   중간집결 기한   최종도착 기한 이동방법  start_lat  \
815772         광주광역시 북구 우치로 339  0+1일 14시  0+1일 14시   개별  35.191980
815773  강원특별자치도 인제군 인제로277번길 20  0+7일 10시  0+7일 14시   집단  37.483031
815774       강원특별자치도 원주시 연세대길 1  0+2일 14시  0+2일 14시   개별  37.453652

         start_lng    mid_lat     mid_lng    end_lat    end_lng
815772  126.812837  35.194959  126.903760  35.194959  126.90376
815773  126.967851  37.556933  127.146625  38.075658  128.17835
815774  127.163587  37.280875  127.901000  37.280875  127.90100

In [5]:
df_merge = df_merge.dropna().reset_index(drop = True)

In [6]:
# statistics
print(df_merge.shape)
print(df_merge['이동방법'].value_counts())

# 위경도 NA 확인
num_na = df_merge.isna().any(axis = 1).sum()
mask = df_merge.notna().all(axis = 1)
print('num_na:', num_na)

df_merge = df_merge[mask].reset_index(drop = True)
print(df_merge)
print(df_merge['이동방법'].value_counts())
# 변환안된 것: 5,067행
# 사용가능 총: 810,708행

# # 저장
# df_merge.to_csv('bottle.csv', index = False, encoding = 'cp949')

(810708, 13)
이동방법
개별    472214
집단    338494
Name: count, dtype: int64
num_na: 0
            순번                    출발지 주소                  중간집결지 주소  \
0            1   경기도 고양시 덕양구 중앙로633번길 12       경기도 고양시 덕양구 혜음로 142
1            2    대구광역시 서구 북비산로61길 20-24          경상북도 경주시 태종로 516
2            3    서울특별시 양천구 목동중앙본로11길 19      서울특별시 서초구 사평대로45길 26
3            4         서울특별시 강남구 학동로 432           경기도 과천시 중앙로 294
4            5          대구광역시 남구 명덕로 236          대구광역시 수성구 무열로 56
...        ...                       ...                       ...
810703  815771         서울특별시 마포구 만리재로 60          경기도 남양주시 덕릉로 967
810704  815772           충청남도 아산시 실옥로 15  충청남도 천안시 동남구 천안대로 429-13
810705  815773      광주광역시 광산구 장신로19번길 10          광주광역시 북구 우치로 339
810706  815774        서울특별시 동작구 사당로8길 55     서울특별시 강동구 양재대로156길 11
810707  815775  경기도 성남시 중원구 자혜로17번길 42-3        강원특별자치도 원주시 연세대길 1

                      최종 도착지 주소   중간집결 기한    최종도착 기한 이동방법  start_lat  \
0           경기도 고양시 덕양구 혜음로 142  0+1일 14시   0+1일 14시   개별  37.626949
1           경기도 고양시 덕양구 동헌로 305  0+28일 9시  0+28일 14시   집단  35.881731
2           강원특별자치도 동해시 대동로 430   0+3일 8시   0+3일 14시   집단  37.540484
3               경기도 과천시 중앙로 294  0+1일 14시   0+1일 14시   개별  37.517981
4              대구광역시 수성구 무열로 56  0+3일 14시   0+3일 14시   개별  35.854689
...                         ...       ...        ...  ...        ...
810703         경기도 남양주시 덕릉로 967  0+3일 14시   0+3일 14시   개별  37.545396
810704         세종특별자치시  당산로 333  0+1일 12시   0+1일 14시   집단  36.784616
810705         광주광역시 북구 우치로 339  0+1일 14시   0+1일 14시   개별  35.191980
810706  강원특별자치도 인제군 인제로277번길 20  0+7일 10시   0+7일 14시   집단  37.483031
810707       강원특별자치도 원주시 연세대길 1  0+2일 14시   0+2일 14시   개별  37.453652

         start_lng    mid_lat     mid_lng    end_lat     end_lng
0       126.827581  37.713020  126.902443  37.713020  126.902443
1       128.567540  35.839566  129.185196  37.713651  126.889915
2       126.867756  37.506451  127.012692  37.503393  129.130509
3       127.048764  37.441493  126.996973  37.441493  126.996973
4       128.595157  35.863198  128.651230  35.863198  128.651230
...            ...        ...         ...        ...         ...
810703  126.956541  37.680966  127.094797  37.680966  127.094797
810704  126.993744  36.785968  127.164274  36.564962  127.277604
810705  126.812837  35.194959  126.903760  35.194959  126.903760
810706  126.967851  37.556933  127.146625  38.075658  128.178350
810707  127.163587  37.280875  127.901000  37.280875  127.901000

[810708 rows x 13 columns]
이동방법
개별    472214
집단    338494
Name: count, dtype: int64

In [7]:
# 시간 변환
# 중간시간 변환
df_merge_mid = df_merge['중간집결 기한'].str.split('일', expand = True)
df_merge_mid.columns = ['Mday_mid', 'Mhour_mid']
df_merge_mid['Mday_mid'] = df_merge_mid['Mday_mid'].str.replace('0+', '').astype(int)
df_merge_mid['Mhour_mid'] = df_merge_mid['Mhour_mid'].str.replace('시', '').astype(int)
df_merge_mid['mid_td'] = (pd.to_timedelta(df_merge_mid['Mday_mid'], unit = 'D') + pd.to_timedelta(df_merge_mid['Mhour_mid'], unit = 'h'))

# 최종시간 변환
df_merge_end = df_merge['최종도착 기한'].str.split('일', expand = True)
df_merge_end.columns = ['Mday_end', 'Mhour_end']
df_merge_end['Mday_end'] = df_merge_end['Mday_end'].str.replace('0+', '').astype(int)
df_merge_end['Mhour_end'] = df_merge_end['Mhour_end'].str.replace('시', '').astype(int)
df_merge_end['end_td'] = (pd.to_timedelta(df_merge_end['Mday_end'], unit = 'D') + pd.to_timedelta(df_merge_end['Mhour_end'], unit = 'h'))

df_merge = pd.concat([df_merge, df_merge_mid, df_merge_end], axis = 1).drop(columns = ['중간집결 기한', '최종도착 기한', 'Mday_mid', 'Mhour_mid', 'Mday_end', 'Mhour_end']).reset_index(drop = True)
print(df_merge.head(3))

   순번                   출발지 주소              중간집결지 주소            최종 도착지 주소  \
0   1  경기도 고양시 덕양구 중앙로633번길 12   경기도 고양시 덕양구 혜음로 142  경기도 고양시 덕양구 혜음로 142
1   2   대구광역시 서구 북비산로61길 20-24      경상북도 경주시 태종로 516  경기도 고양시 덕양구 동헌로 305
2   3   서울특별시 양천구 목동중앙본로11길 19  서울특별시 서초구 사평대로45길 26  강원특별자치도 동해시 대동로 430

  이동방법  start_lat   start_lng    mid_lat     mid_lng    end_lat     end_lng  \
0   개별  37.626949  126.827581  37.713020  126.902443  37.713020  126.902443
1   집단  35.881731  128.567540  35.839566  129.185196  37.713651  126.889915
2   집단  37.540484  126.867756  37.506451  127.012692  37.503393  129.130509

            mid_td           end_td
0  1 days 14:00:00  1 days 14:00:00
1 28 days 09:00:00 28 days 14:00:00
2  3 days 08:00:00  3 days 14:00:00

In [8]:
# M+7일 이내 움직이는 사람만
df_merge = df_merge[df_merge['mid_td'].dt.days <= 7]

In [9]:
# # 저장
# df_merge.loc[df_merge['이동방법']== '집단']['중간집결지 주소'].value_counts().to_csv('중간집결지개수및인원.csv', encoding = 'cp949')

In [10]:
# pattern = r'^(.*?(?:도|특별시|광역시|특별자치도)\s*[^\s]+?(?:시|군|구))'
pattern = r'^(세종특별자치시|.*?(?:도|특별시|광역시|특별자치도)\s*[^\s]+?(?:시|군|구))'

def extract_province_city(addr):
    m = re.match(pattern, addr)
    return m.group(1) if m else '도시 패턴없음'

# def extract_province_city(addr):\n",
#     if addr.startswith('서울특별시'):\n",
#         m = re.match('^(서울특별시\\s*[^\\s]+구)', addr)\n",
#         return m.group(1) if m else '서울특별시'\n",
#     elif addr.startswith('경기도'):\n",
#         m = re.match(r'^(경기도\\s*[^\\s]+(?:시|군))', addr)\n",
#         return m.group(1) if m else '경기도'\n",
#     m = re.match(r'^(.*?(?:도|광역시|특별자치도|특별자치시))', addr)\n",
#     return m.group(1) if m else 'None'\n",

df_merge["출발지_도시단위"] = df_merge["출발지 주소"].apply(extract_province_city)
df_merge["중간집결지_도시단위"] = df_merge["중간집결지 주소"].apply(extract_province_city)
df_merge["최종도착지_도시단위"] = df_merge["최종 도착지 주소"].apply(extract_province_city)

print(df_merge)

            순번                    출발지 주소                   중간집결지 주소  \
0            1   경기도 고양시 덕양구 중앙로633번길 12        경기도 고양시 덕양구 혜음로 142
2            3    서울특별시 양천구 목동중앙본로11길 19       서울특별시 서초구 사평대로45길 26
3            4         서울특별시 강남구 학동로 432            경기도 과천시 중앙로 294
4            5          대구광역시 남구 명덕로 236           대구광역시 수성구 무열로 56
6            7    경상남도 창원시 성산구 외동반림로 219  경상남도 창원시 성산구 중앙대로250번길 13
...        ...                       ...                        ...
810703  815771         서울특별시 마포구 만리재로 60           경기도 남양주시 덕릉로 967
810704  815772           충청남도 아산시 실옥로 15   충청남도 천안시 동남구 천안대로 429-13
810705  815773      광주광역시 광산구 장신로19번길 10           광주광역시 북구 우치로 339
810706  815774        서울특별시 동작구 사당로8길 55      서울특별시 강동구 양재대로156길 11
810707  815775  경기도 성남시 중원구 자혜로17번길 42-3         강원특별자치도 원주시 연세대길 1

                        최종 도착지 주소 이동방법  start_lat   start_lng    mid_lat  \
0             경기도 고양시 덕양구 혜음로 142   개별  37.626949  126.827581  37.713020
2             강원특별자치도 동해시 대동로 430   집단  37.540484  126.867756  37.506451
3                 경기도 과천시 중앙로 294   개별  37.517981  127.048764  37.441493
4                대구광역시 수성구 무열로 56   개별  35.854689  128.595157  35.863198
6       경상남도 창원시 성산구 중앙대로250번길 13   개별  35.238183  128.676517  35.234022
...                           ...  ...        ...         ...        ...
810703           경기도 남양주시 덕릉로 967   개별  37.545396  126.956541  37.680966
810704           세종특별자치시  당산로 333   집단  36.784616  126.993744  36.785968
810705           광주광역시 북구 우치로 339   개별  35.191980  126.812837  35.194959
810706    강원특별자치도 인제군 인제로277번길 20   집단  37.483031  126.967851  37.556933
810707         강원특별자치도 원주시 연세대길 1   개별  37.453652  127.163587  37.280875

           mid_lng    end_lat     end_lng          mid_td          end_td  \
0       126.902443  37.713020  126.902443 1 days 14:00:00 1 days 14:00:00
2       127.012692  37.503393  129.130509 3 days 08:00:00 3 days 14:00:00
3       126.996973  37.441493  126.996973 1 days 14:00:00 1 days 14:00:00
4       128.651230  35.863198  128.651230 3 days 14:00:00 3 days 14:00:00
6       128.691481  35.234022  128.691481 1 days 08:00:00 1 days 08:00:00
...            ...        ...         ...             ...             ...
810703  127.094797  37.680966  127.094797 3 days 14:00:00 3 days 14:00:00
810704  127.164274  36.564962  127.277604 1 days 12:00:00 1 days 14:00:00
810705  126.903760  35.194959  126.903760 1 days 14:00:00 1 days 14:00:00
810706  127.146625  38.075658  128.178350 7 days 10:00:00 7 days 14:00:00
810707  127.901000  37.280875  127.901000 2 days 14:00:00 2 days 14:00:00

         출발지_도시단위   중간집결지_도시단위   최종도착지_도시단위
0         경기도 고양시      경기도 고양시      경기도 고양시
2       서울특별시 양천구    서울특별시 서초구  강원특별자치도 동해시
3       서울특별시 강남구      경기도 과천시      경기도 과천시
4        대구광역시 남구    대구광역시 수성구    대구광역시 수성구
6        경상남도 창원시     경상남도 창원시     경상남도 창원시
...           ...          ...          ...
810703  서울특별시 마포구     경기도 남양주시     경기도 남양주시
810704   충청남도 아산시     충청남도 천안시      세종특별자치시
810705  광주광역시 광산구     광주광역시 북구     광주광역시 북구
810706  서울특별시 동작구    서울특별시 강동구  강원특별자치도 인제군
810707    경기도 성남시  강원특별자치도 원주시  강원특별자치도 원주시

[684373 rows x 16 columns]

In [11]:
print(df_merge.loc[df_merge["출발지_도시단위"] == '도시 패턴없음'])
print(df_merge.loc[df_merge["중간집결지_도시단위"] == '도시 패턴없음'])
print(df_merge.loc[df_merge["최종도착지_도시단위"] == '도시 패턴없음'])

Empty DataFrame
Columns: [순번, 출발지 주소, 중간집결지 주소, 최종 도착지 주소, 이동방법, start_lat, start_lng, mid_lat, mid_lng, end_lat, end_lng, mid_td, end_td, 출발지_도시단위, 중간집결지_도시단위, 최종도착지_도시단위]
Index: []
Empty DataFrame
Columns: [순번, 출발지 주소, 중간집결지 주소, 최종 도착지 주소, 이동방법, start_lat, start_lng, mid_lat, mid_lng, end_lat, end_lng, mid_td, end_td, 출발지_도시단위, 중간집결지_도시단위, 최종도착지_도시단위]
Index: []
Empty DataFrame
Columns: [순번, 출발지 주소, 중간집결지 주소, 최종 도착지 주소, 이동방법, start_lat, start_lng, mid_lat, mid_lng, end_lat, end_lng, mid_td, end_td, 출발지_도시단위, 중간집결지_도시단위, 최종도착지_도시단위]
Index: []

In [12]:
df_solo = df_merge[df_merge['이동방법'] == '개별']
df_grp = df_merge[df_merge['이동방법'] == '집단']

In [13]:
solo_start_cnt = pd.DataFrame(df_solo['출발지_도시단위'].value_counts()).reset_index()
solo_end_cnt = pd.DataFrame(df_solo['최종도착지_도시단위'].value_counts()).reset_index()

solo_start_cnt = solo_start_cnt.rename(columns = {'출발지_도시단위': '도시', 'count':'출발지_cnt'})
solo_end_cnt = solo_end_cnt.rename(columns = {'최종도착지_도시단위': '도시', 'count':'도착지_cnt'})

solo_merge = pd.merge(solo_start_cnt, solo_end_cnt, on = '도시', how = 'outer').fillna(0).reset_index(drop=True)
solo_merge

              도시  출발지_cnt  도착지_cnt
0        강원도 고성군        1      0.0
1        강원도 원주시        1      0.0
2        강원도 춘천시        1      0.0
3        강원도 태백시        1      0.0
4    강원특별자치도 강릉시     1143    902.0
..           ...      ...      ...
228     충청북도 제천시      898    786.0
229     충청북도 증평군      312   6745.0
230     충청북도 진천군      787   1086.0
231     충청북도 청주시     9243   4380.0
232     충청북도 충주시     1768   6501.0

[233 rows x 3 columns]

In [14]:
solo_merge.style.background_gradient(cmap='pink_r', axis = None)

In [15]:
from geopy.geocoders import Nominatim

geolocator = Nominatim(user_agent="geo_korea")

lat_solo = []
lng_solo = []

city_solo = list(solo_merge['도시'].unique())

for idx in city_solo:
    location = geolocator.geocode(idx)
    lat_solo.append(location.latitude)
    lng_solo.append(location.longitude)

    print((location.latitude, location.longitude))

(38.6478743, 128.2575748)
(37.3420996, 127.9197603)
(37.8810569, 127.7297641)
(37.1637943, 128.9857176)
(37.7525313, 128.8759523)
(38.3808, 128.4678)
(37.5245142, 129.1146302)
(37.4498745, 129.1652969)
(38.2069574, 128.5913424)
(38.1055376, 127.9910471)
(38.0751, 128.6191)
(37.1834983, 128.4619814)
(37.3420996, 127.9197603)
(38.0694, 128.1706)
(37.380456, 128.6609485)
(38.1468023, 127.3133)
(37.8810569, 127.7297641)
(37.1637943, 128.9857176)
(37.3705, 128.3903)
(37.6967, 127.8888)
(38.1063, 127.708)
(37.4916, 127.985)
(37.8314, 127.5098)
(37.6172511, 126.8363154)
(37.4287219, 127.0021206)
(37.4785475, 126.8643937)
(37.424105, 127.376995)
(37.5888053, 127.1609126)
(37.3615229, 126.9349025)
(37.6155683, 126.7157798)
(37.6359398, 127.2165051)
(37.8930425, 127.0578117)
(37.5288774, 126.7937471)
(37.3866554, 127.1201242)
(37.2633325, 127.0287472)
(37.3395928, 126.7570649)
(37.3217152, 126.8308604)
(37.013574, 127.329939)
(37.3938528, 126.9570605)
(37.8430208, 127.0630993)
(37.4916, 127.4875)
(37.2982901, 127.637033)
(38.0233051, 127.0609695)
(37.1597051, 127.0767008)
(37.2405847, 127.0992779)
(37.3343694, 126.9622804)

KeyboardInterrupt:

In [ ]:
solo_merge_latlng = pd.concat([solo_merge,pd.Series(lat_solo), pd.Series(lng_solo)], axis = 1)
solo_merge_latlng = solo_merge_latlng.rename(columns = {0:'위도', 1: '경도'})
solo_merge_latlng

              도시  출발지_cnt  도착지_cnt         위도          경도
0        강원도 고성군        1      0.0  38.647874  128.257575
1        강원도 원주시        1      0.0  37.342100  127.919760
2        강원도 춘천시        1      0.0  37.881057  127.729764
3        강원도 태백시        1      0.0  37.163794  128.985718
4    강원특별자치도 강릉시     1143    902.0  37.752531  128.875952
..           ...      ...      ...        ...         ...
228     충청북도 제천시      898    786.0  37.132604  128.191351
229     충청북도 증평군      312   6745.0  36.785213  127.581816
230     충청북도 진천군      787   1086.0  36.855461  127.435393
231     충청북도 청주시     9243   4380.0  36.642117  127.489174
232     충청북도 충주시     1768   6501.0  36.990733  127.925989

[233 rows x 5 columns]

In [ ]:
group_start_cnt = pd.DataFrame(df_grp['출발지_도시단위'].value_counts()).reset_index()
group_mid_cnt = pd.DataFrame(df_grp['중간집결지_도시단위'].value_counts()).reset_index()
group_end_cnt = pd.DataFrame(df_grp['최종도착지_도시단위'].value_counts()).reset_index()

group_start_cnt = group_start_cnt.rename(columns = {'출발지_도시단위': '도시', 'count':'출발지_cnt'})
group_mid_cnt = group_mid_cnt.rename(columns = {'중간집결지_도시단위': '도시', 'count':'중간지_cnt'})
group_end_cnt = group_end_cnt.rename(columns = {'최종도착지_도시단위': '도시', 'count':'도착지_cnt'})

group_merge = pd.merge(group_start_cnt, group_mid_cnt, on = '도시', how = 'outer').fillna(0).reset_index(drop=True)
group_merge = pd.merge(group_merge, group_end_cnt, on = '도시', how = 'outer').fillna(0).reset_index(drop=True)
group_merge

group_merge.style.background_gradient(cmap='pink_r', axis = None)

from geopy.geocoders import Nominatim

geolocator = Nominatim(user_agent="geo_korea")

lat_group = []
lng_group = []

city_group = list(group_merge['도시'].unique())

for idx in city_group:
    location = geolocator.geocode(idx)
    lat_group.append(location.latitude)
    lng_group.append(location.longitude)

    print((location.latitude, location.longitude))

group_merge_latlng = pd.concat([group_merge,pd.Series(lat_group), pd.Series(lng_group)], axis = 1)
group_merge_latlng = group_merge_latlng.rename(columns = {0:'위도', 1: '경도'})
group_merge_latlng

(38.2069574, 128.5913424)
(37.3420996, 127.9197603)
(38.1468023, 127.3133)
(37.8810569, 127.7297641)
(38.1063, 127.708)
(37.7525313, 128.8759523)
(38.3808, 128.4678)
(37.5245142, 129.1146302)
(37.4498745, 129.1652969)
(38.2069574, 128.5913424)
(38.1055376, 127.9910471)
(38.0751, 128.6191)
(37.1834983, 128.4619814)
(37.3420996, 127.9197603)
(38.0694, 128.1706)
(37.380456, 128.6609485)
(38.1468023, 127.3133)
(37.8810569, 127.7297641)
(37.1637943, 128.9857176)
(37.3705, 128.3903)
(37.6967, 127.8888)
(38.1063, 127.708)
(37.4916, 127.985)
(37.8314, 127.5098)
(37.6172511, 126.8363154)
(37.4287219, 127.0021206)
(37.4785475, 126.8643937)
(37.424105, 127.376995)
(37.5888053, 127.1609126)
(37.3615229, 126.9349025)
(37.6155683, 126.7157798)
(37.6359398, 127.2165051)
(37.8930425, 127.0578117)
(37.5288774, 126.7937471)
(37.3866554, 127.1201242)
(37.2633325, 127.0287472)
(37.3395928, 126.7570649)
(37.3217152, 126.8308604)
(37.013574, 127.329939)
(37.3938528, 126.9570605)
(37.8430208, 127.0630993)
(37.4916, 127.4875)
(37.2982901, 127.637033)
(38.0233051, 127.0609695)
(37.1597051, 127.0767008)
(37.2405847, 127.0992779)
(37.3343694, 126.9622804)
(37.7168544, 127.0513845)
(37.2808823, 127.4429132)
(37.7585063, 126.7775039)
(36.9924966, 127.1127168)
(37.8948267, 127.2007295)
(37.5392918, 127.214948)
(37.1994653, 126.8312632)
(34.8804677, 128.621207)
(35.6872871, 127.9138505)
(34.9732784, 128.322233)
(35.2310947, 128.8908228)
(34.8374437, 127.8925589)
(35.503839, 128.7466992)
(35.003468, 128.064562)
(35.4154624, 127.873663)
(35.3349979, 129.0370582)
(35.322003, 128.2617827)
(35.1803459, 128.1079953)
(35.5443876, 128.4921938)
(35.227956, 128.6818586)
(34.854254, 128.433205)
(35.0670735, 127.7516778)
(35.2726875, 128.4065038)
(35.5204145, 127.7252966)
(35.5664445, 128.1658334)
(35.825122, 128.741329)
(35.8556705, 129.2248811)
(35.7258, 128.2632)
(36.1195513, 128.3444692)
(36.1398035, 128.1139534)
(36.5858541, 128.1870612)
(36.8925, 128.7324)
(36.4104478, 128.1590614)
(35.9190065, 128.283486)
(36.5634886, 128.7260798)
(36.4149, 129.3659)
(36.6664, 129.1127)
(36.805685, 128.624054)
(35.98842, 128.942)
(36.6462999, 128.4376)
(37.4845293, 130.9058854)
(36.993, 129.4006)
(36.3524, 128.697)
(35.6473012, 128.7348468)
(36.4358, 129.0571)
(35.995, 128.4017)
(36.0189315, 129.3429384)
(35.1396428, 126.7938232)
(35.1327, 126.9025)
(35.1462, 126.9229)
(35.1741, 126.9122)
(35.1521401, 126.8900561)
(36.2425017, 128.5732027)
(35.845728, 128.5977207)
(35.8297006, 128.533094)
(35.7753, 128.4312)
(35.8865, 128.6355)
(35.8855, 128.5828858)
(35.8716, 128.5591)
(35.8584, 128.6305)
(35.8692588, 128.6059471)
(36.3465766, 127.4158483)
(36.3120051, 127.4554285)
(36.3551786, 127.3838487)
(36.3620732, 127.3564099)
(36.3254103, 127.4211723)
(35.212, 128.9805)
(35.2429, 129.0926)
(35.2447818, 129.2215462)
(35.1361, 129.0843999)
(35.129, 129.0455)
(35.2052, 129.0837)
(35.1632335, 129.0529462)
(35.1969, 128.9901999)
(35.1521, 128.9911)
(35.1041, 128.9751)
(35.0974999, 129.0241)
(35.1454, 129.1127)
(35.1765, 129.0793)
(35.0908, 129.0678)
(35.106501, 129.0325814)
(35.1629, 129.1638)
(37.5177, 127.0473)
(37.53, 127.1237)
(37.6395, 127.0255)
(37.5509, 126.8497)
(37.4782, 126.9518)
(37.5362696, 127.0879515)
(37.4951999, 126.8877)
(37.4565, 126.8954)
(37.654, 127.0567)
(37.6686, 127.0466)
(37.5741982, 127.0395092)
(37.5120999, 126.9395)
(37.566571, 126.9015317)
(37.5790747, 126.9367861)
(37.4835, 127.0322)
(37.5635, 127.0365)
(37.59, 127.0165)
(37.5145, 127.1058)
(37.5171, 126.8663)
(37.5262, 126.8959)
(37.5323, 126.99)
(37.6024, 126.9293)
(37.5806949, 126.9827989)
(37.5636559, 126.9975097)
(37.6063, 127.093)
(36.4799999, 127.289)
(35.4984869, 129.3459362)
(35.5046663, 129.4170114)
(35.5826, 129.3604)
(35.5222362, 129.2423693)
(35.5693863, 129.3327997)
(37.746, 126.488)
(37.5373539, 126.7379078)
(37.446902, 126.7315126)
(37.4736019, 126.643227)
(37.4636, 126.6502)
(37.5070221, 126.7220068)
(37.545, 126.676)
(37.4098, 126.6787)
(37.533, 126.429)
(37.4735389, 126.6214081)
(34.641917, 126.7669591)
(34.6044123, 127.276384)
(35.2818969, 127.2914673)
(34.9406452, 127.6959512)
(35.2203329, 127.473277)
(35.0158859, 126.7108313)
(35.320878, 126.9883238)
(34.7903335, 126.3847547)
(34.9905794, 126.4812377)
(34.7711356, 127.0798978)
(34.9505457, 127.4872992)
(34.8331095, 126.3522531)
(34.7546257, 127.659859)
(35.2769282, 126.5124504)
(34.800052, 126.6970381)
(34.3110373, 126.7553933)
(35.3017065, 126.7844061)
(34.6811762, 126.906996)
(34.4867515, 126.2629264)
(35.0656537, 126.5166414)
(34.55269, 126.52431)
(35.0643095, 126.9864311)
(35.4355, 126.7021)
(35.9679984, 126.7369036)
(35.803815, 126.880557)
(35.4163118, 127.3903713)
(36.007, 127.6609)
(35.7316783, 126.7330195)
(35.3741, 127.1374)
(35.9039, 127.1622)
(35.9479291, 126.9578025)
(35.6174, 127.2893)
(35.647, 127.5212)
(35.8237631, 127.1472805)
(35.5697678, 126.8559787)
(35.7915, 127.4252)
(33.252845, 126.5610278)
(33.4998289, 126.5313902)
(36.275523, 127.2472702)
(36.47257, 127.09124)
(36.1087249, 127.48815)
(36.1868154, 127.0987538)
(36.8904083, 126.6461833)
(36.33401, 126.613165)
(36.2753678, 126.910107)
(36.784499, 126.450317)
(36.0800688, 126.6916052)
(36.7899498, 127.0026769)
(36.6808989, 126.8448742)
(36.8150283, 127.1140654)
(36.4587024, 126.8019983)
(36.7454236, 126.29836)
(36.6010501, 126.6611667)
(36.815, 127.7866)
(36.9848, 128.3659)
(36.4890118, 127.729242)
(36.1747588, 127.7834432)
(36.3061692, 127.571482)
(36.94, 127.6906)
(37.1326042, 128.1913508)
(36.785213, 127.5818159)
(36.855461, 127.4353927)
(36.6421169, 127.4891742)
(36.9907334, 127.9259891)

           도시  출발지_cnt  중간지_cnt  도착지_cnt         위도          경도
0     강원도 속초시        1      0.0      0.0  38.206957  128.591342
1     강원도 원주시        4      0.0      0.0  37.342100  127.919760
2     강원도 철원군        1      0.0      0.0  38.146802  127.313300
3     강원도 춘천시        3      0.0      0.0  37.881057  127.729764
4     강원도 화천군        1      0.0      0.0  38.106300  127.708000
..        ...      ...      ...      ...        ...         ...
229  충청북도 제천시      681    617.0      0.0  37.132604  128.191351
230  충청북도 증평군       33      0.0    741.0  36.785213  127.581816
231  충청북도 진천군       84      0.0      0.0  36.855461  127.435393
232  충청북도 청주시     2599   2894.0    565.0  36.642117  127.489174
233  충청북도 충주시      661    950.0   1391.0  36.990733  127.925989

[234 rows x 6 columns]

In [ ]:
# # 개인 - 출발
# m = folium.Map(location=[36.5, 127.8], zoom_start=7, tiles='OpenStreetMap')
# m.add_child(plugins.HeatMap(zip(solo_merge_latlng['위도'], solo_merge_latlng['경도'], solo_merge_latlng['출발지_cnt'])))
# m.save("solo_merge_start.html")

# # 개인 - 도착
# m = folium.Map(location=[36.5, 127.8], zoom_start=7, tiles='OpenStreetMap')
# m.add_child(plugins.HeatMap(zip(solo_merge_latlng['위도'], solo_merge_latlng['경도'], solo_merge_latlng['도착지_cnt'])))
# m.save("solo_merge_end.html")

In [ ]:
# # 그룹 - 출발
# m = folium.Map(location=[36.5, 127.8], zoom_start=7, tiles='OpenStreetMap')
# m.add_child(plugins.HeatMap(zip(group_merge_latlng['위도'], group_merge_latlng['경도'], group_merge_latlng['출발지_cnt'])))
# m.save("group_merge_start.html")

# # 그룹 - 중간\n",
# m = folium.Map(location=[36.5, 127.8], zoom_start=7, tiles='OpenStreetMap')
# m.add_child(plugins.HeatMap(zip(group_merge_latlng['위도'], group_merge_latlng['경도'], group_merge_latlng['중간지_cnt'])))
# m.save("group_merge_mid.html")

# # 그룹 - 도착
# m = folium.Map(location=[36.5, 127.8], zoom_start=7, tiles='OpenStreetMap')
# m.add_child(plugins.HeatMap(zip(group_merge_latlng['위도'], group_merge_latlng['경도'], group_merge_latlng['도착지_cnt'])))
# m.save("group_merge_end.html")

In [16]:
start_cnt = pd.DataFrame(df_merge['출발지_도시단위'].value_counts()).reset_index()
mid_cnt = pd.DataFrame(df_merge['중간집결지_도시단위'].value_counts()).reset_index()
end_cnt = pd.DataFrame(df_merge['최종도착지_도시단위'].value_counts()).reset_index()

start_cnt = start_cnt.rename(columns = {'출발지_도시단위': '도시', 'count':'출발지_cnt'})
mid_cnt = mid_cnt.rename(columns = {'중간집결지_도시단위': '도시', 'count':'중간지_cnt'})
end_cnt = end_cnt.rename(columns = {'최종도착지_도시단위': '도시', 'count':'도착지_cnt'})

merge = pd.merge(start_cnt, mid_cnt, on = '도시', how = 'outer').fillna(0).reset_index(drop=True)
merge = pd.merge(merge, end_cnt, on = '도시', how = 'outer').fillna(0).reset_index(drop=True)
merge

merge.style.background_gradient(cmap='pink_r', axis = None)

from geopy.geocoders import Nominatim

geolocator = Nominatim(user_agent="geo_korea")

lat = []
lng = []

city = list(merge['도시'].unique())

for idx in city:
    location = geolocator.geocode(idx)
    lat.append(location.latitude)
    lng.append(location.longitude)

    print((location.latitude, location.longitude))

merge_latlng = pd.concat([merge,pd.Series(lat), pd.Series(lng)], axis = 1)
merge_latlng = merge_latlng.rename(columns = {0:'위도', 1: '경도'})
merge_latlng

(38.6478743, 128.2575748)
(38.2069574, 128.5913424)
(37.3420996, 127.9197603)
(38.1468023, 127.3133)
(37.8810569, 127.7297641)
(37.1637943, 128.9857176)
(38.1063, 127.708)
(37.7525313, 128.8759523)
(38.3808, 128.4678)
(37.5245142, 129.1146302)
(37.4498745, 129.1652969)
(38.2069574, 128.5913424)
(38.1055376, 127.9910471)
(38.0751, 128.6191)
(37.1834983, 128.4619814)
(37.3420996, 127.9197603)
(38.0694, 128.1706)
(37.380456, 128.6609485)
(38.1468023, 127.3133)
(37.8810569, 127.7297641)
(37.1637943, 128.9857176)
(37.3705, 128.3903)
(37.6967, 127.8888)
(38.1063, 127.708)
(37.4916, 127.985)
(37.8314, 127.5098)
(37.6172511, 126.8363154)
(37.4287219, 127.0021206)
(37.4785475, 126.8643937)
(37.424105, 127.376995)
(37.5888053, 127.1609126)
(37.3615229, 126.9349025)
(37.6155683, 126.7157798)
(37.6359398, 127.2165051)
(37.8930425, 127.0578117)
(37.5288774, 126.7937471)
(37.3866554, 127.1201242)
(37.2633325, 127.0287472)
(37.3395928, 126.7570649)
(37.3217152, 126.8308604)
(37.013574, 127.329939)
(37.3938528, 126.9570605)
(37.8430208, 127.0630993)
(37.4916, 127.4875)
(37.2982901, 127.637033)
(38.0233051, 127.0609695)
(37.1597051, 127.0767008)
(37.2405847, 127.0992779)
(37.3343694, 126.9622804)
(37.7168544, 127.0513845)
(37.2808823, 127.4429132)
(37.7585063, 126.7775039)
(36.9924966, 127.1127168)
(37.8948267, 127.2007295)
(37.5392918, 127.214948)
(37.1994653, 126.8312632)
(34.8804677, 128.621207)
(35.6872871, 127.9138505)
(34.9732784, 128.322233)
(35.2310947, 128.8908228)
(34.8374437, 127.8925589)
(35.503839, 128.7466992)
(35.003468, 128.064562)
(35.4154624, 127.873663)
(35.3349979, 129.0370582)
(35.322003, 128.2617827)
(35.1803459, 128.1079953)
(35.5443876, 128.4921938)
(35.227956, 128.6818586)
(34.854254, 128.433205)
(35.0670735, 127.7516778)
(35.2726875, 128.4065038)
(35.5204145, 127.7252966)
(35.5664445, 128.1658334)
(35.825122, 128.741329)
(35.8556705, 129.2248811)
(35.7258, 128.2632)
(36.1195513, 128.3444692)
(36.1398035, 128.1139534)
(36.5858541, 128.1870612)
(36.8925, 128.7324)
(36.4104478, 128.1590614)
(35.9190065, 128.283486)
(36.5634886, 128.7260798)
(36.4149, 129.3659)
(36.6664, 129.1127)
(36.805685, 128.624054)
(35.98842, 128.942)
(36.6462999, 128.4376)
(37.4845293, 130.9058854)
(36.993, 129.4006)
(36.3524, 128.697)
(35.6473012, 128.7348468)
(36.4358, 129.0571)
(35.995, 128.4017)
(36.0189315, 129.3429384)
(35.1396428, 126.7938232)
(35.1327, 126.9025)
(35.1462, 126.9229)
(35.1741, 126.9122)
(35.1521401, 126.8900561)
(36.2425017, 128.5732027)
(35.845728, 128.5977207)
(35.8297006, 128.533094)
(35.7753, 128.4312)
(35.8865, 128.6355)
(35.8855, 128.5828858)
(35.8716, 128.5591)
(35.8584, 128.6305)
(35.8692588, 128.6059471)
(36.3465766, 127.4158483)
(36.3120051, 127.4554285)
(36.3551786, 127.3838487)
(36.3620732, 127.3564099)
(36.3254103, 127.4211723)
(35.212, 128.9805)
(35.2429, 129.0926)
(35.2447818, 129.2215462)
(35.1361, 129.0843999)
(35.129, 129.0455)
(35.2052, 129.0837)
(35.1632335, 129.0529462)
(35.1969, 128.9901999)
(35.1521, 128.9911)
(35.1041, 128.9751)
(35.0974999, 129.0241)
(35.1454, 129.1127)
(35.1765, 129.0793)
(35.0908, 129.0678)
(35.106501, 129.0325814)
(35.1629, 129.1638)
(37.5177, 127.0473)
(37.53, 127.1237)
(37.6395, 127.0255)
(37.5509, 126.8497)
(37.4782, 126.9518)
(37.5362696, 127.0879515)
(37.4951999, 126.8877)
(37.4565, 126.8954)
(37.654, 127.0567)
(37.6686, 127.0466)
(37.5741982, 127.0395092)
(37.5120999, 126.9395)
(37.566571, 126.9015317)
(37.5790747, 126.9367861)
(37.4835, 127.0322)
(37.5635, 127.0365)
(37.59, 127.0165)
(37.5145, 127.1058)
(37.5171, 126.8663)
(37.5262, 126.8959)
(37.5323, 126.99)
(37.6024, 126.9293)
(37.5806949, 126.9827989)
(37.5636559, 126.9975097)
(37.6063, 127.093)
(36.4799999, 127.289)
(35.4984869, 129.3459362)
(35.5046663, 129.4170114)
(35.5826, 129.3604)
(35.5222362, 129.2423693)
(35.5693863, 129.3327997)
(37.746, 126.488)
(37.5373539, 126.7379078)
(37.446902, 126.7315126)
(37.4736019, 126.643227)
(37.4636, 126.6502)
(37.5070221, 126.7220068)
(37.545, 126.676)
(37.4098, 126.6787)
(37.533, 126.429)
(37.4735389, 126.6214081)
(34.641917, 126.7669591)
(34.6044123, 127.276384)
(35.2818969, 127.2914673)
(34.9406452, 127.6959512)
(35.2203329, 127.473277)
(35.0158859, 126.7108313)
(35.320878, 126.9883238)
(34.7903335, 126.3847547)
(34.9905794, 126.4812377)
(34.7711356, 127.0798978)
(34.9505457, 127.4872992)
(34.8331095, 126.3522531)
(34.7546257, 127.659859)
(35.2769282, 126.5124504)
(34.800052, 126.6970381)
(34.3110373, 126.7553933)
(35.3017065, 126.7844061)
(34.6811762, 126.906996)
(34.4867515, 126.2629264)
(35.0656537, 126.5166414)
(34.55269, 126.52431)
(35.0643095, 126.9864311)
(35.4355, 126.7021)
(35.9679984, 126.7369036)
(35.803815, 126.880557)
(35.4163118, 127.3903713)
(36.007, 127.6609)
(35.7316783, 126.7330195)
(35.3741, 127.1374)
(35.9039, 127.1622)
(35.9479291, 126.9578025)
(35.6174, 127.2893)
(35.647, 127.5212)
(35.8237631, 127.1472805)
(35.5697678, 126.8559787)
(35.7915, 127.4252)
(33.252845, 126.5610278)
(33.4998289, 126.5313902)
(36.275523, 127.2472702)
(36.47257, 127.09124)
(36.1087249, 127.48815)
(36.1868154, 127.0987538)
(36.8904083, 126.6461833)
(36.33401, 126.613165)
(36.2753678, 126.910107)
(36.784499, 126.450317)
(36.0800688, 126.6916052)
(36.7899498, 127.0026769)
(36.6808989, 126.8448742)
(36.8150283, 127.1140654)
(36.4587024, 126.8019983)
(36.7454236, 126.29836)
(36.6010501, 126.6611667)
(36.815, 127.7866)
(36.9848, 128.3659)
(36.4890118, 127.729242)
(36.1747588, 127.7834432)
(36.3061692, 127.571482)
(36.94, 127.6906)
(37.1326042, 128.1913508)
(36.785213, 127.5818159)
(36.855461, 127.4353927)
(36.6421169, 127.4891742)
(36.9907334, 127.9259891)

           도시  출발지_cnt  중간지_cnt  도착지_cnt         위도          경도
0     강원도 고성군        1      0.0      0.0  38.647874  128.257575
1     강원도 속초시        1      0.0      0.0  38.206957  128.591342
2     강원도 원주시        5      0.0      0.0  37.342100  127.919760
3     강원도 철원군        1      0.0      0.0  38.146802  127.313300
4     강원도 춘천시        4      0.0      0.0  37.881057  127.729764
..        ...      ...      ...      ...        ...         ...
231  충청북도 제천시     1579   1403.0    786.0  37.132604  128.191351
232  충청북도 증평군      345   6745.0   7486.0  36.785213  127.581816
233  충청북도 진천군      871   1086.0   1086.0  36.855461  127.435393
234  충청북도 청주시    11842   7275.0   4945.0  36.642117  127.489174
235  충청북도 충주시     2429   7451.0   7892.0  36.990733  127.925989

[236 rows x 6 columns]

In [17]:
merge_latlng

           도시  출발지_cnt  중간지_cnt  도착지_cnt         위도          경도
0     강원도 고성군        1      0.0      0.0  38.647874  128.257575
1     강원도 속초시        1      0.0      0.0  38.206957  128.591342
2     강원도 원주시        5      0.0      0.0  37.342100  127.919760
3     강원도 철원군        1      0.0      0.0  38.146802  127.313300
4     강원도 춘천시        4      0.0      0.0  37.881057  127.729764
..        ...      ...      ...      ...        ...         ...
231  충청북도 제천시     1579   1403.0    786.0  37.132604  128.191351
232  충청북도 증평군      345   6745.0   7486.0  36.785213  127.581816
233  충청북도 진천군      871   1086.0   1086.0  36.855461  127.435393
234  충청북도 청주시    11842   7275.0   4945.0  36.642117  127.489174
235  충청북도 충주시     2429   7451.0   7892.0  36.990733  127.925989

[236 rows x 6 columns]

In [18]:
# 전체 - 출발
m = folium.Map(location=[36.5, 127.8], zoom_start=7, tiles='OpenStreetMap')
m.add_child(plugins.HeatMap(zip(merge_latlng['위도'], merge_latlng['경도'], merge_latlng['출발지_cnt'])))
m.save("merge_start.html")

# 전체 - 중간
m = folium.Map(location=[36.5, 127.8], zoom_start=7, tiles='OpenStreetMap')
m.add_child(plugins.HeatMap(zip(merge_latlng['위도'], merge_latlng['경도'], merge_latlng['중간지_cnt'])))
m.save("merge_mid.html")

# 전체 - 도착
m = folium.Map(location=[36.5, 127.8], zoom_start=7, tiles='OpenStreetMap')
m.add_child(plugins.HeatMap(zip(merge_latlng['위도'], merge_latlng['경도'], merge_latlng['도착지_cnt'])))
m.save("merge_end.html")