In [8]:
import os
import numpy as np
import pandas as pd

In [5]:
dataset = 'logvp' # freesolv / esol / lipo / logp / logvp
save_dir = r'..\results_figure'

In [9]:
os.getcwd()

'c:\\Programming\\Github\\Project\\ChemGCNs\\etc_throwaway'

In [13]:
df = pd.read_csv(r'..\datasets\logvp.csv')
df

                      smiles      logvp
0                        C=O   8.266164
1                        CNN   3.912023
2                     C(=O)O   3.751854
3                        CCl   8.366370
4                         CN   7.882315
..                       ...        ...
77                  C1CCCCC1   4.573680
78              COP(=O)(C)OC  -0.038741
79     CC(=O)NC1=CC=C(C=C1)O  -9.673964
80  CC(=O)OC1=CC=CC=C1C(=O)O -10.588667
81      C(C(=O)O)NCP(=O)(O)O -16.138298

[82 rows x 2 columns]

In [ ]:
df['logvp'] = np.around(df['logvp'], 2)

                      smiles  logvp
0                        C=O   8.27
1                        CNN   3.91
2                     C(=O)O   3.75
3                        CCl   8.37
4                         CN   7.88
..                       ...    ...
77                  C1CCCCC1   4.57
78              COP(=O)(C)OC  -0.04
79     CC(=O)NC1=CC=C(C=C1)O  -9.67
80  CC(=O)OC1=CC=CC=C1C(=O)O -10.59
81      C(C(=O)O)NCP(=O)(O)O -16.14

[82 rows x 2 columns]

In [15]:
df.to_csv('df_logvp.csv', index = False)